@using ConvenienceMVC.Models.Views.Zaikos

@model ZaikoViewModel
@{
    ViewData["Title"] = "Search";
    var FirstZaiko = Model.SokoZaikos.FirstOrDefault();
    int num = 0;
}

<h1>在庫検索</h1>

<form asp-action="Search" id="notBarrageForm">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <label asp-for="KeyEventDataList" class="control-label"></label>
            </div>
            <div class="col-3">
                <label asp-for="DescendingFlagList" class="control-label"></label>
            </div>
            <div class="col-3">
                <label asp-for="SetCodesList" class="control-label"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @for (int i = 0; i < Model.KeyEventDataList.Count; i++)
                {
                    <div style="height: 40px; margin-bottom: 5px;">
                        <select asp-for="KeyEventDataList[i]" asp-items="@Model.KeyList" class="form-control" tabindex="1">
                            <option value="">-- 選択してください --</option>
                        </select>
                    </div>
                }
            </div>
            <div class="col-3">
                @for (int i = 0; i < Model.DescendingFlagList.Count; i++)
                {
                    <div style="height: 40px; margin-bottom: 5px; margin-left: 50px;">
                        <input asp-for="DescendingFlagList[i]" type="checkbox" class="control-label" tabindex="1" />
                    </div>
                }
            </div>
            <div class="col-3">
                <select asp-for="@Model.SetCodesList" multiple>
                    @for (int i = 0; i < Model.TableList.Count; i++)
                    {
                        <optgroup label="@Model.TableList[i]">
                            @for (int j = 0; j < Model.LabelNumList[i]; j++)
                            {
                                <option value="@Model.SelectCodeList[num + j].Item1">@Model.SelectCodeList[num + j].Item1</option>
                            }
                        </optgroup>
                        num += Model.LabelNumList[i];
                    }
                </select>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-1">
                <input type="submit" value="Sort" class="btn btn-primary" id="notBarrageButton" tabindex="1" />
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <label asp-for="@FirstZaiko.ShiirePrdId" class="control-label"></label>
                    </th>
                    <th>
                        <label asp-for="@FirstZaiko.ShiireMaster.ShiirePrdName" class="control-label"></label>
                    </th>
                    <th>
                        <label asp-for="@FirstZaiko.ShiireMaster.ShohinMaster.ShohinName" class="control-label"></label>
                    </th>
                    <th>
                        <label asp-for="@FirstZaiko.SokoZaikoCaseSu" class="control-label"></label>
                    </th>
                    <th>
                        <label asp-for="@FirstZaiko.SokoZaikoSu" class="control-label"></label>
                    </th>
                    <th>
                        <label asp-for="@FirstZaiko.LastShiireDate" class="control-label"></label>
                    </th>
                    <th>
                        <label asp-for="@FirstZaiko.LastDeliveryDate" class="control-label"></label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.SokoZaikos.Count; i++)
                {
                    // 倉庫在庫の要素を追加
                    <input asp-for="@Model.SokoZaikos[i].ShiireSakiId" type="hidden"></input>
                    <input asp-for="@Model.SokoZaikos[i].ShiirePrdId" type="hidden"></input>
                    <input asp-for="@Model.SokoZaikos[i].ShohinId" type="hidden"></input>
                    <input asp-for="@Model.SokoZaikos[i].SokoZaikoCaseSu" type="hidden"></input>
                    <input asp-for="@Model.SokoZaikos[i].LastShiireDate" type="hidden"></input>
                    <input asp-for="@Model.SokoZaikos[i].LastDeliveryDate" type="hidden"></input>

                    <tr>
                        <th>
                            <input asp-for="@Model.SokoZaikos[i].ShiirePrdId" class="form-control" tabindex="-1" disabled></input>
                        </th>
                        <th>
                            <input asp-for="@Model.SokoZaikos[i].ShiireMaster.ShiirePrdName" class="form-control" tabindex="-1" disabled></input>
                        </th>
                        <th>
                            <input asp-for="@Model.SokoZaikos[i].ShiireMaster.ShohinMaster.ShohinName" class="form-control" tabindex="-1" disabled></input>
                        </th>
                        <th>
                            <input asp-for="@Model.SokoZaikos[i].SokoZaikoCaseSu" class="form-control" tabindex="-1" disabled></input>
                        </th>
                        <th>
                            <input asp-for="@Model.SokoZaikos[i].SokoZaikoSu" class="form-control" tabindex="-1" disabled></input>
                        </th>
                        <th>
                            <input asp-for="@Model.SokoZaikos[i].LastShiireDate" class="form-control" tabindex="-1" disabled></input>
                        </th>
                        <th>
                            <input asp-for="@Model.SokoZaikos[i].LastDeliveryDate" class="form-control" tabindex="-1" disabled></input>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="/js/NotBarrage.js"></script>
